/* 
    @author: Diego Hilderink Dominguez
    @e-mail: diego.hilderink@iesdonana.org
    License: GNU License 2020

    This section is proper to designers, anything you change here, will have some kind of effect
    into your html.

    This css has preffered classes and id.
    The changes that u make in this document is under your responsability.
*/


/*
    This is the preffered navigation bar class.
    You can change this default parametres or make yourself new one.
*/
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; 
}
  
.liNav {
    float: left;
}
  
.liNav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.liNav ul {
    list-style-type: none;
}

.liNav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.liNav ul li a:hover{
    background-color: #111;
}
  
.liNav a:hover {
    background-color: #111;
}
