/* 
    @author: Diego Hilderink Dominguez
    @e-mail: diego.hilderink@iesdonana.org
    License: GNU License 2020

    Esta sección es única para el diseñador de estilos de la web.
    Cualquier cambio que realices en este fichero esta bajo tu responsabilidad.
*/

/*
    Son las características css estandar de la barra de navegación.
*/

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#exampleForm {
    width: 33%;
    border: #111 1px solid;
    border-bottom:#333 solid 3px;
    border-right:#333 solid 3px;
    border-radius: 4px;
    padding: 2%;
}

#exampleForm label {
    padding-left: 3%;
    margin-bottom: 1%;
}

#exampleForm input {
    margin: 1%;
    width: 95%;
    border: #111 1px solid;
    border-radius: 4px;
    padding:1%;
}

.liNav {
    float: left;
}

.liNav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.liNav ul {
    padding-left: 0;
    list-style-type: none;
}

.liNav ul li {
    float: left;
}

.liNav ul li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.liNav ul li a:hover {
    background-color: #111;
}

.liNav a:hover {
    background-color: #111;
}